.header {
  background: #D7F8FF;
  border-radius: 12px;
  margin-bottom: 32px;

  h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 15px 25px;
    width: fit-content;
  }
}
